<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/login.css">
    <title>Health Track</title>
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <h2 class="text-center main_text">Login</h2>
            <form action="index.html" method="POST">
                <div class="txt_field">
                    <input type="text" autocomplete="off" class="bg-transparent" id="email" name="email" required>
                    <span></span>
                    <label class="form-label" for="email">Email</label>
                </div>
                <div class="txt_field">
                    <input type="password" class="bg-transparent" id="senha" name="senha" required>
                    <span></span>
                    <label class="form-label" for="senha">Senha</label>
                </div>
                <div class="row text-center">
                    <p class="aux_text">Não tem uma conta? <a class="default_a" href="#"><u>Crie uma aqui</u></a></p>
                    <p class="aux_text"><a>Esqueci minha senha</a></p>
                </div>
                <div class="text-center mt-2 mb-4">
                    <input type="submit" class="btn" value="Entrar">
                </div>
            </form>
            <div class="text-center line-division"></div>
            <div class="text-center default_a">
                <p>OU <br> logue com:</p>
            </div>
            <div class="text-center">
                <form action="">
                    <span class="iconify icons" data-inline="false" data-icon="flat-color-icons:google"
                        style="font-size: 39px;"></span>
                    <span class="iconify icons" data-inline="false" data-icon="akar-icons:facebook-fill"
                        style="color: #0085ff; font-size: 36px;"></span>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

</html>